<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.parse.mealspotting"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.parse.mealspotting.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.parse.mealspotting.permission.C2D_MESSAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MealSpottingApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MealListActivity"
            android:label="@string/title_activity_meal_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.Activity" />
        </activity>
        <activity
            android:name=".NewMealActivity"
            android:label="@string/title_activity_new_meal" >
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="出品されている教科書を検索" >
        </activity>
        <activity
            android:name=".BookActivity"
            android:label="text" >
        </activity>
        <activity
            android:name=".PostActivity"
            android:label="出品する教科書の登録" >
        </activity>
        <activity
            android:name=".BookSearchResultList"
            android:label="書籍を選んでください。" >
        </activity>
        <activity
            android:name=".ParseChatActivity"
            android:label="chat" >
        </activity>
        <activity
            android:name=".DealListActivity"
            android:label="取引" >
        </activity>
        <activity
            android:name=".ProfileListActivity"
            android:label="プロフィール" >
        </activity>
        <activity
            android:name=".ChooseUserActivity"
            android:label="ログイン" >
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.parse.mealspotting" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="PushReceiver">
            <intent-filter>
                <action android:name="MyAction" >
                </action>
            </intent-filter>
        </receiver>
    </application>
</manifest>